
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../thumbs/background.jpg);
    background-position: center;
    background-size: cover;
}

/*  MENU    */

.menu {
    height: 10vh;
    background-color: #afafaf40;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    float: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    transition: 0.3s;
}

    .logo:hover a {
        color: #ff1500;
        transition: 0.3s;
    }

#logo_text {
    font-family: 'Trebuchet MS';
}

.logo a {
    line-height: 10vh;
}

    .logo a:link {
        text-decoration: none;
    }

    .logo a:visited {
        text-decoration: none;
    }

    .logo a:hover {
        text-decoration: none;
    }

    .logo a:active {
        text-decoration: none;
    }

    .logo a img {
        height: 6vh;
        border-radius: 0%;
        object-fit: contain;
    }

.links {
    float: right;
}

.menu a {
    line-height: 10vh;
    color: white;
    font-size: 5vh;
    padding: 0 1.5vh;
    display: inline-block;
    transition: 0.3s;
}

    .menu a i {
        color: white;
        transition: 0.3s;
    }

    .menu a:hover i {
        color: #ff1500;
        transition: 0.3s;
    }

/*  DIALOG  */

.container{
    background-color: #222;
    margin: 20vh 10px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 25px;
}

.text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #ff1500;
}

.container form{
    padding: 30px 0 0 0 0;
}

.form-row{
    display: flex;
    margin: 32px 0;
}

.input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

.textarea{
    height: 70px;
}

.input-data input, .textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #222;
    font-size: 17px;
    border-bottom: 2px solid #ff1500
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
    transform: translateY(-20px);
    color: #ff1500;
    font-size: 14px;
}

.textarea:focus{
    color: yellow;
}

.textarea textarea {
    resize: none;
    padding-top: 15px;
}

.input-data label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: white;
    background-color: #222;
    pointer-events: none;
    transition: all 0.3s ease;
}

.textarea label{
    width: 100%;
    bottom: 40px;
    color: white;
    background-color: #222;
}

.btn input {
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid red;
    transition: 0.3s;
}

.btn input:hover {
    color: white;
    background-color: #ff1500;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid red;
    transition: 0.3s;
}

.underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: red;
}

/*  BOTTOM  */

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    .bottom a {
        color: white;
    }